#box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}

#box2{
    
    width: 30%;
    background-color: yellow;
    margin: 10%;
    font-size: 1em;/* ,0.5,2 times parents font size*/
    width: 5em;
    height: 1vh;
}