div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    display: inline-block;
}
#box1{
    background-image: url("panda_image.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

/*#box1{
    position: static;
}
#box2{
    position: relative;
    top: 20px;
    left: 10px;
    z-index: 1;
}
#box3{
    position: absolute;
    top: 500px;
    left: 20px;
}
#box4{
    position: fixed;
    top:50px;
    z-index: 3;
}

/*#box1{
    height: 100px;
    width: 200px;
    background-color: green;
    font-size: 10px;
}

#box2{
    
    width: 30%;
    background-color: yellow;
    margin: 10%;
    font-size: 1em;/* ,0.5,2 times parents font size
    width: 5em;
    height: 100vh;
}